*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Scheherazade New', sans-serif;
    font-size: 20px;
}

#navbarNavi{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.esquerdo{
    display: inline-block;
    margin-top: 1%;
    margin-left:0%;
    list-style-type: none;
}

.menulateral{
    width:100px;
}

.principal{
    display: flex;
   flex-direction: row;
}

.footer{
    display:flex;
    justify-content: center;
    align-items: center;
   
}

.rodape{
    text-align: center;
    color:red;
}

.row{
    display: flex;
    flex-direction:row;
}

.mainimagem{
    margin-left:6%;
}

.texto1{
    margin-left: 3%;
}
.subtopicos{
    list-style: none;
   
}

.sublinks{
    text-decoration: none;
    color:rgb(165, 34, 34)
}

